VITE_SUPABASE_URL=https://donanuayeqhghlpsyuyo.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRvbmFudWF5ZXFoZ2hscHN5dXlvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA1NDcwMzQsImV4cCI6MjA5NjEyMzAzNH0.W2FKgmGtWw7pJ1onvIRnXYzMt36Udg8PWoV0W7po114
VITE_BREVO_API_KEY=your-brevo-api-key
VITE_ORG_SLUG=village-kabaddi-team
VITE_ADMIN_EMAIL=admin@yourteam.com
